.jumbotron{
  background-color: #233A60;
  color: white;
  font-size: 28px;
  text-align: center
}

#searchpar {
  background-color: #324758;
  color: white;
  font-size: 12px;
  height: 40px;
  padding: 3px;
}

button {
  background: grey;
}